// Base alert styling
.alert {
  @apply fixed top-12 left-1/2 transform -translate-x-1/2 px-6 py-4 rounded-lg shadow-lg z-50 text-white font-semibold;
  font-size: 2rem; // Equivalent to 32px
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    top 0.5s ease;
}

// Show alert with animation (fade-in)
.alert.show {
  opacity: 1;
  top: 40%;
  visibility: visible;
}

// Fade-out animation
.alert.fade-out {
  opacity: 0;
  visibility: hidden;
}

// Success alert styling
.alert-success {
  @apply bg-green-500; // Tailwind's green-500 background
  color: #ffffff;
}

// Error alert styling
.alert-error {
  @apply bg-red-700; // Tailwind's red-700 background
  font-size: 2.25rem; // Equivalent to 36px
  padding: 1.875rem 3.125rem; // Equivalent to 30px 50px
  border-radius: 10px; // Rounded corner for error alert
}
