// Base alert styling
.alert {
  @apply fixed top-12 left-1/2 transform -translate-x-1/2 px-6 py-4 rounded-lg shadow-lg z-50 text-white font-semibold;
  font-size: 2rem;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.5s ease,
    top 0.5s ease;
}

// Show alert with animation (fade-in)
.alert.show {
  opacity: 1;
  top: 40%;
  visibility: visible;
}

// Fade-out animation
.alert.fade-out {
  opacity: 0;
  visibility: hidden;
}

// Success alert styling
.alert-success {
  @apply bg-green-500;
  color: #ffffff;
}

// Error alert styling
.alert-error {
  @apply bg-red-700;
  font-size: 2.25rem;
  padding: 2rem 3rem;
  border-radius: 10px;
}
